#choose {
  padding-top: 150px;
}

.choose_head h3 {
  text-transform: uppercase;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 18.8054px;
  letter-spacing: 0.1em;
  color: #FD5B2F;
}

.choose_head h2 {
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 52.2371px;
  line-height: 71px;
  color: #000000;
}

.chose_item {
  padding-top: 50px;
}

.chose_item i{
  color: #FD5B2F;
  font-size: 40px;
}

.chose_item h2 {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 20.8948px;
  line-height: 24px;
  color: #000000;
  padding-top: 23px;

}

.chose_item p {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12.5369px;
  line-height: 25px;
  color: #000000;
  padding-top: 7px;

}