*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

body::after {
  position: absolute;
  content: '';
  width: 1350px;
  height: 1350px;
  left: -471.18px;
  top: -408.49px;
  background: #FFDB80;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

body::before {
  position: absolute;
  width: 1000px;
  height: 1000px;
  right: -200px;
  top: -130px;
  background: #47CAF3;
  content: "";
  z-index: -2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: #FD5B2F;
}